#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 99%;
	margin-bottom:0px;
	text-align: left;
}
	
	ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 100%;
	background: #e3e3e3;
	}
	ul.tabs li {
		float: left;
		padding: 0;
		margin: 0 0 0 0px;
		min-height: 49px;
		line-height: 49px;
 		border-left: none;
		margin-bottom: -1px;
		overflow: hidden;
		position: relative;
		border-right: 1px solid #fff;
 	}
	ul.tabs li a {
		text-decoration: none;
		color: #302d38;
		display: block;
		font-size: 14px;
 		outline: none;
 		cursor: pointer;
		text-align: center;
		padding: 0px 25px;
		background-color: #e3e3e3;
		font-family: 'Open Sans' !important;
		font-weight: 600;
		text-transform: uppercase;
	}
	ul.tabs li a:hover {
 	}
 	
	html ul.tabs li.active, html ul.tabs li.active a,  html ul.tabs li.active a:hover  { 
		color:#454545;
		background-color: #fff;
		height: 50px;
 	}
	
	
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 0px;
	width:100%;
 }
.tab-content {
	padding: 30px 25px 45px 25px;
	background: #fff;
}
	
.tab-content h4 { 
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
} 


@media only screen and (min-width: 768px) and (max-width: 999px){

ul.tabs li a {
	padding: 0px 10px 0px 10px;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px){

#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 99%;
	margin-bottom:0px;
	margin-top: 10px;
	border: 1px solid #eee;
}
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 20px 15px 10px 15px;
	width: 93%;
	background-color: #f0f0f0;
}
.tab-content {
	padding: 5px;
	font-size: 14px;
	background: #f0f0f0;
}



}


@media only screen and (max-width: 479px){

#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 98%;
	margin-bottom:0px;
	margin-top: 10px;
	border: 1px solid #eee;
	background: #f0f0f0;
}
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 20px 15px 10px 15px;
	width: 89%;
	background-color: #f0f0f0;
}
.tab-content {
	padding: 5px;
	font-size: 14px;
	background: #f0f0f0;
}

ul.tabs li a {
	font-size: 12px;
	padding: 0px 8px 0px 9px;
}

}
	